:root {
    /* typography*/

    /* font-family */
    --ff-poppins: 'Poppins', sans-serif;

    /* font-size */
    --fs-top: 11vw;
    --fs-1: 10vw;
    --fs-2: 75px;
    --fs-3: 50px;
    --fs-4: 25px;
    --fs-5: 15px;
    --fs-6: 14px;
    --fs-7: 13px;
    --fs-8: 11px;

    /* font-weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

    /* shadow*/

    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

    /* transition*/

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease-in-out;

    /*Colour*/

    --colour-black: black;
    --colour-white: white;
    --colour-secondary: rgb(9, 255, 0);

    --colour-secondary1: rgba(9, 255, 0, 0.178);

}




/* main */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
    display: block;
}

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input,
textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

html {
    font-family: var(--ff-poppins);
}

* {
    background-color: black;
    color: white;
}

/*--------------Sections--------------*/
header {
    height: 100vh;
    padding: 0 50px 0 50px;
}

footer {
    height: max-content;
    display: flex;
    padding: 0 50px 0 50px;
}

section .collaboration {
    padding: 0 50px 0 50px;
}

.textscrool {
    padding-bottom: 40px;
}

/*------------Sections(800)------------*/
@media (max-width: 800px) {

    header {
        height: 100vh;
        padding: 0 20px 0 20px;
    }

    footer {
        height: max-content;
        display: flex;
        padding: 0 20px 0 20px;
    }

    section .collaboration {
        padding: 0 50px 0 50px;
    }

    .txt-4 {
        font-size: var(--fs-4);
    }
}

/*------------Sections(500)------------*/
@media (max-width: 500px) {

    header {
        height: 100vh;
        padding: 0 10px 0 10px;
    }

    footer {
        padding: 0 10px 0 10px;
    }

    section .collaboration {
        padding: 0 10px 0 10px;
    }

    .textscrool {
        padding-bottom: 20px;
    }

    .txt-4 {
        font-size: var(--fs-6);
    }

    .buttonrow {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/*-------------COMPONENTS-------------*/


/*--------------HEADER---------------*/

/*--------------NAVBAR---------------*/
.navbar {
    font-size: var(--fs-6);
    margin: 10px 0 0 0;
}

.navbar .button1 {
    border-radius: 0%;
    border: 1px white solid;
    color: white;
    font-size: var(--fs-7);
}

.navbar .button1:hover {
    border-radius: 0%;
    background-color: var(--colour-white);
    border: 1px var(--colour-white) solid;
    color: var(--colour-black);
}

/*-----------------------------------*/
.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85%;
}

.title {
    font-family: var(--ff-poppins);
    font-size: var(--fs-top);
    font-weight: var(--fw-500);
    letter-spacing: 15px;
    line-height: .8;
}


/*--------------FOOTER---------------*/
.txt-5 {
    font-size: var(--fs-7);
    font-family: var(--ff-poppins);
}

.txt-6 {
    font-size: var(--fs-8);
    font-family: var(--ff-poppins);
}

.linklist {
    text-align: end;
}

.link-1 {
    font-size: var(--fs-7);
    font-family: var(--ff-poppins);
    color: white;
    height: 25px;
    padding: 0 5px 0 0;
}

.link-1:hover {
    color: white;
    text-decoration: solid;
    font-weight: var(--fw-600);
}


/*------------COLLABRATION-------------*/
.collaboration {
    font: var(--ff-poppins);
}

.txt-1 {
    font-size: var(--fs-1);
    font-weight: var(--fw-400);
    font-family: var(--ff-poppins);
}

.txt-4 {
    color: var(--colour-secondary);
    font-size: var(--fs-4);
    font-weight: var(--fw-400);
    font-family: var(--ff-poppins);
}

.buttonrow {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
    column-gap: 30px;
}

.btn1 {
    font: inherit;
    cursor: pointer;
    padding-block: 8px;
    padding-inline: 45px;
    background-color: var(--colour-secondary);
    color: black;
    border: 1px var(--colour-secondary) solid;
    font-size: var(--fs-6);
    font-weight: var(--fw-400);
}

.btn1:hover {
    background-color: var(--colour-black);
    color: var(--colour-secondary);
}

.btn2 {
    font: inherit;
    cursor: pointer;
    padding-block: 8px;
    padding-inline: 45px;
    border: 1px white solid;
    font-size: var(--fs-6);
    font-weight: var(--fw-400);
}

.btn2:hover {
    background-color: var(--colour-white);
    color: var(--colour-black);
}



/*------------LOOP-------------*/
.infiniteScroll {
    font-size: var(--fs-4);
    font-weight: 700;
    overflow: hidden;
    user-select: none;
    --gap: 20px;
    display: flex;
    /*rotate: 4deg;*/
}

.infiniteScroll ul {
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 20s linear infinite;
}

.infiniteScroll ul li {
    color: var(--colour-black);
    background-color: var(--colour-secondary);
}

.infiniteScroll ul li span {
    background-color: var(--colour-secondary);
    color: var(--colour-black);
    padding-right: 50px;
    font-size: 25px;
    height: max-content;
}

.infiniteScroll:hover ul {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

/*------------LOOPANGLE01-------------*/
.infiniteScroll1 {
    font-size: var(--fs-4);
    font-weight: 700;
    overflow: hidden;
    user-select: none;
    --gap: 20px;
    display: flex;
    rotate: 3deg;
}

.infiniteScroll1 ul {
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 20s linear infinite;
}

.infiniteScroll1 ul li {
    color: var(--colour-black);
    background-color: var(--colour-secondary1);
}

.infiniteScroll1 ul li span {
    background-color: var(--colour-secondary1);
    color: var(--colour-black);
    padding-right: 50px;
    font-size: 25px;
    height: max-content;
}

.infiniteScroll1:hover ul {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

/*------------LOOPANGLE02-------------*/
.infiniteScroll2 {
    font-size: var(--fs-4);
    font-weight: 700;
    overflow: hidden;
    user-select: none;
    --gap: 20px;
    display: flex;
    rotate: -3deg;
}

.infiniteScroll2 ul {
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 20s linear infinite;
}

.infiniteScroll2 ul li {
    color: var(--colour-black);
    background-color: var(--colour-secondary);
}

.infiniteScroll2 ul li span {
    background-color: var(--colour-secondary);
    color: var(--colour-black);
    padding-right: 50px;
    font-size: 25px;
    height: max-content;
}

.infiniteScroll2:hover ul {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}